<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa molestiae aspernatur, quis totam at, laborum perspiciatis accusantium voluptates odio modi vitae suscipit provident. Impedit veniam illo itaque esse reprehenderit voluptatum nemo asperiores. Exercitationem, labore natus, harum accusantium ea, repellendus impedit molestias eius excepturi illo suscipit eligendi asperiores nesciunt optio nam.</p>
    </div>
</div>