<div class="jumbotron mt-4">
    <h1 class="display-4">About me</h1>
    <hr class="my-4">
    <p>Analista y Desarrollador de Sistemas de Información. Aprendiendo FullStack JavaScript. Con interes puntual en Frameworks como Angular & Vue.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/jcarlosj">GitHub</a>
</div>