<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <h2 class="display-3">Node & MongoDB</h2>
    <p class="lead">CRUD para crear listado de tareas</p>
    <hr class="my-4">
    <p>Esta aplicación usa Node, Express & MongoDB entre otras librerías de NPM como Mongoose, Handlebars para Express, Session para Express, Method Override, Bcryptjs, Connect-Flash, Passport entre otras.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/jcarlosj">GitHub</a>
</div>