<div class="jumbotron mt-4">
    <h1 class="display-4">Listado de notas</h1>
    <hr class="my-4">
    <p>El listado será obtenido desde la base de datos MongoDB</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/jcarlosj">GitHub</a>
</div>